@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#loader {
  width: 100%;
  height: 100%;
  background-color: #E31837;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

#loader.loaded {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#ucLogo {
  width: 245px;
  height: 245px;
}

#loaderBar {
  height: 10px;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation: loader 4s;
          animation: loader 4s;
  background-color: #FFFFFF;
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  100% {
    width: 245px;
  }
}

@keyframes loader {
  0% {
    width: 0;
  }
  100% {
    width: 245px;
  }
}

.ps_footer {
  display: none;
}

.ps_header_bar {
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
}

#PT_HEADER {
  display: inline-block;
  width: 100%;
  height: calc( 100% - 700px);
  vertical-align: top;
}

#logo {
  width: 70px;
  height: 70px;
  background-image: url("../../logos/uc.svg");
  background-position: top;
  background-size: cover;
  border-radius: 35px;
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 70px;
}

#avatar {
  width: 70px;
  height: 70px;
  background-position: top;
  background-size: cover;
  border-radius: 35px;
  display: inline-block;
  position: absolute;
  right: 70px;
  top: 35px;
}

#PT_HEADER_PANEL {
  bottom: 70px;
  position: absolute;
  width: 100%;
}

#win0hdrdivPT_AG_LAYOUT_PT_AG_GROUPBOX3 {
  display: none;
}

* {
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  overflow: visible;
}

.ps-text {
  color: #000 !important;
  font-size: 56px !important;
  font-weight: 600 !important;
  height: 70px;
  line-height: 70px !important;
}

#PTNUI_LAND_WRK_GROUPBOX14\$PIMG {
  padding: 0 !important;
}

#PTNUI_LAND_WRK_GROUPBOX14\$PIMG::after {
  content: "";
  max-height: none;
  width: 70px !important;
  height: 70px !important;
  background-image: url("../../icons/drop_down_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -70px;
}

.ps-button::before {
  display: none;
  content: none;
}

.ps-button {
  left: 0;
  overflow: visible !important;
  bottom: 0;
}

.nuihdr_hpbtn {
  overflow: visible;
}

.ps_header-banner, .ps_header_bar {
  text-align: start;
}

#win0divPTNUI_LAND_WRK_GROUPBOX14 {
  position: absolute;
  left: 70px;
}

.ps-button-wrapper {
  display: none;
}

.nuihdr_logo {
  display: none;
}

.ps-img, .ps_process, .ps-staticimg {
  display: none;
}

.ps_menuitem:not(.psc_disabled):hover, .psc_rowact:not(.psc_disabled):hover {
  background-color: transparent;
}

.nuitile {
  background-color: #E31837 !important;
}

.nuitile::before {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
}

.ps_grid-row, .nuilp {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 245px;
  height: 245px;
  padding: 35px !important;
  border-radius: 35px;
}

.nuilp::after {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../../icons/arrow_next.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 17.5px;
  right: 17.5px;
}

.ps_grid-div .nuitile:nth-of-type(2) .nuilp, .ps_grid-div .nuitile:nth-of-type(4) .nuilp, .ps_grid-div .nuitile:nth-of-type(5) .nuilp, .ps_grid-div .nuitile:nth-of-type(8) .nuilp {
  background-color: #000 !important;
}

.ps_grid-div .nuitile:nth-of-type(6) {
  display: none;
}

.nuitile {
  margin: 35px !important;
}

.ps-label, .ps_groupleth {
  text-shadow: none;
  color: #FFFFFF !important;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  overflow: visible !important;
  white-space: normal !important;
  height: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#win0divPTNUI_LAND_WRK_GROUPBOX8\$0 {
  width: 1330px !important;
  padding-left: 35px;
  padding-bottom: 0;
}

.ps_mid_section, .pt_wrapper, .ps_wrapper {
  height: 700px !important;
  position: absolute;
  bottom: 0;
  width: 1330px;
}

#PT_WRAPPER {
  position: relative;
  display: inline-block;
  height: 100% !important;
  vertical-align: top;
}

#PT_MAIN {
  background: #FFFFFF !important;
}

:root:not(.psc_mode-ag):not(.psc_mode-md) .pt_homepage {
  background-color: #FFFFFF !important;
}

#win0divPTNUI_LAND_REC_GROUPLET\$4 > .ps_groupleth:not(.noAlert) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc( 100% - 35px) !important;
  pointer-events: none;
}

[id*="ICField33"] > * {
  color: #FFFFFF !important;
  font-size: 21px;
  line-height: 31.5px;
  font-weight: 400;
  margin: 0;
}

[id*="ICField30"] {
  text-align: left;
  padding-left: 31px;
  padding-right: 35px;
  bottom: 35px !important;
  overflow: visible !important;
}

#SCC_TASKAPP_WRK_PTGP_TILE_LIVDAT_2::before {
  content: " ";
  white-space: pre;
}

#SCC_TASKAPP_WRK_PTGP_TILE_LIVDAT_2 {
  margin-top: 8.75px;
}

[id*=PTGP_TILE_LIVEDATA] {
  position: absolute;
  bottom: 35px;
  left: 0;
}

[id*=PTGP_APP_WRK_PTGP_TILE_LIVDAT] {
  color: #FFFFFF !important;
  font-size: 21px;
  line-height: 31.5px;
  font-weight: 400;
  margin: 0;
  width: calc(100% - 35px);
  text-align: left;
  display: block;
  margin-left: 25px !important;
  overflow: hidden;
}

#win0divPTNUI_LAND_REC_GROUPLET\$1 > .ps_groupleth:not(.noAlert) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc( 100% - 35px) !important;
  position: relative;
}

#sidebar {
  width: 350px;
  height: calc(100% - 35px);
  border-right: #CCC solid 3px;
  display: inline-block;
  padding-top: 35px;
  position: relative;
}

.sidebarOption {
  display: block;
  width: calc(100% - 70px);
  font-weight: 600 !important;
  font-size: 21px;
  line-height: 70px;
  height: 70px;
  margin-left: 35px;
  margin-right: 35px;
  position: relative;
  cursor: pointer;
}

.sidebarOption:link {
  color: #000000;
  text-decoration: none;
}

.sidebarOption:hover:not(.selected) {
  text-decoration: underline;
  -webkit-text-decoration-color: #E31837 !important;
          text-decoration-color: #E31837 !important;
  color: #000000 !important;
}

.sidebarOption.selected {
  color: #FFFFFF;
  background-color: #E31837;
  border-radius: 17.5px;
}

.sidebarOption.selected::before {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.sidebarOption::before {
  content: "";
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
  margin-left: 17.5px;
}

#home::before {
  background-image: url("../../icons/home.svg");
}

#notifications::before {
  background-image: url("../../icons/notifications.svg");
}

#settings::before {
  background-image: url("../../icons/settings.svg");
}

a:link {
  color: #E31837;
  text-decoration: underline;
  display: block;
  font-weight: 400;
  font-size: 21px;
  line-height: 70px;
  height: 70px;
}

#signOut {
  margin-left: 52.5px;
  margin-right: 52.5px;
  position: absolute;
  cursor: pointer;
  bottom: 35px;
  width: calc(100% - 105px);
}

#signOut:hover {
  color: #E31837 !important;
}
/*# sourceMappingURL=custom.css.map */