@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.ps_footer {
  display: none;
}

.ps_header_bar {
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
}

.ps_header::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  left: 80px;
  top: -200px;
  background-image: url("../../logos/uc.svg");
  background-position: center;
  background-size: cover;
}

.ps_header::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  right: 80px;
  top: -200px;
  background-image: url("../../avatars/kevinLong.jpg");
  background-position: top;
  background-size: cover;
  border-radius: 40px;
}

#win0hdrdivPT_AG_LAYOUT_PT_AG_GROUPBOX3 {
  display: none;
}

* {
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  overflow: visible;
}

.ps-text {
  color: #000 !important;
  font-size: 64px !important;
  font-weight: 600 !important;
  height: 80px;
  line-height: 80px !important;
}

#PTNUI_LAND_WRK_GROUPBOX14\$PIMG {
  padding: 0 !important;
}

#PTNUI_LAND_WRK_GROUPBOX14\$PIMG::after {
  content: "";
  max-height: none;
  width: 80px !important;
  height: 80px !important;
  background-image: url("../../icons/drop_down_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -80px;
}

.ps-button::before {
  display: none;
  content: none;
}

.ps-button {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  left: 0;
  overflow: visible !important;
}

.nuihdr_hpbtn {
  overflow: visible;
}

.ps_header-banner, .ps_header_bar {
  text-align: start;
}

#win0divPTNUI_LAND_WRK_GROUPBOX14 {
  position: absolute;
  left: 80px;
}

.ps-img, .ps_process, .ps-staticimg {
  display: none;
}

.ps_menuitem:not(.psc_disabled):hover, .psc_rowact:not(.psc_disabled):hover {
  background-color: transparent;
}

.nuitile {
  background-color: #E31837 !important;
}

.nuitile::before {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
}

.ps_grid-row, .nuilp {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 280px;
  height: 280px;
  padding: 40px !important;
  border-radius: 40px;
}

.nuilp::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../../icons/arrow_next.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
}

.ps_grid-div .nuitile:nth-of-type(2) .nuilp, .ps_grid-div .nuitile:nth-of-type(4) .nuilp, .ps_grid-div .nuitile:nth-of-type(5) .nuilp, .ps_grid-div .nuitile:nth-of-type(8) .nuilp {
  background-color: #000 !important;
}

.ps_grid-div .nuitile:nth-of-type(6) {
  display: none;
}

.nuitile {
  margin: 40px !important;
}

.ps-label, .ps_groupleth {
  text-shadow: none;
  color: #FFFFFF !important;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  overflow: visible !important;
  white-space: normal !important;
  height: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#win0divPTNUI_LAND_WRK_GROUPBOX8\$0 {
  width: 1520px !important;
  padding-left: 40px;
  padding-top: 40px;
}

.ps_mid_section, .pt_wrapper, .ps_wrapper {
  height: 800px !important;
  position: absolute;
  bottom: 0;
  width: 1520px;
  right: 0;
}

:root:not(.psc_mode-ag):not(.psc_mode-md) .pt_homepage {
  background-color: #FFFFFF !important;
}

#win0divPTNUI_LAND_REC_GROUPLET\$4 > .ps_groupleth {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: calc( 100% - 40px) !important;
}

#win25div\$ICField33 > * {
  color: #FFFFFF !important;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

#win25div\$ICField30 {
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  bottom: 40px !important;
  overflow: visible !important;
}

#SCC_TASKAPP_WRK_PTGP_TILE_LIVDAT_2::before {
  content: " ";
  white-space: pre;
}
/*# sourceMappingURL=custom.css.map */