@import "fonts";
@import "colors";
@import "sizes";

// Footer
.ps_footer {
	display: none;
}

// Header
.ps_header_bar {
	background-color: transparent !important;
	border: none !important;
	color: #000 !important;
}

// Thing under the Header
#win0hdrdivPT_AG_LAYOUT_PT_AG_GROUPBOX3 {
	display: none;
}

* {
	background-color: transparent;
    font-family: 'Poppins', sans-serif;
    overflow: visible;
}

// Header Text
.ps-text {
    color: #000 !important;
    font-size: $size * 1.6 !important;
    font-weight: 600 !important;
    height: $size * 2;
    line-height: $size * 2 !important;
}
.ps-button::before {
    display: none;
    content: "";
}
.ps-button {
    transform: translateY($size * -3);
    left: 0;
    overflow: visible !important;
}
.nuihdr_hpbtn {
    overflow: visible;
}

// Tiles Images
.ps-img, .ps_process, .ps-staticimg {
    display: none;
}

// Disable Hover Of Some Tiles (I don't know why they were sperate styles)
.ps_menuitem:not(.psc_disabled):hover, .psc_rowact:not(.psc_disabled):hover {
    background-color: transparent;
}

// Tiles
.ps_grid-row, .nuitile, .nuilp {
    background-color: $red !important;
    box-shadow: none;
    width: $size * 7;
    height: $size * 7;
    padding: $size !important;
    border-radius: $size;
}

// Determine the color of the tiles
.ps_grid-div { 
    .nuitile:nth-of-type(2), .nuitile:nth-of-type(4), .nuitile:nth-of-type(5), .nuitile:nth-of-type(8){
        .nuilp {
            background-color: #000 !important;
        }
    }

    .nuitile:nth-of-type(6) {
        display: none;
    }
}

.nuitile {
    margin: $size !important;
}

// Tiles Labels
.ps-label, .ps_groupleth{
    text-shadow: none;
    color: $white !important;
    font-size: $size * 0.8;
    font-weight: 600;
    line-height: $size * 1.2;
    overflow: visible !important;
    white-space: normal !important;
    height: 100% !important;
    display: flex !important;
    align-items: flex-end;
}

// Tile Group
#win0divPTNUI_LAND_WRK_GROUPBOX8\$0 {
    width: $size * 38 !important;
}

// Content Container
.ps_mid_section, .pt_wrapper, .ps_wrapper {
    height: $size * 20 !important;
    position: absolute;
    bottom: 0;
    width: $size * 38;
}

:root:not(.psc_mode-ag):not(.psc_mode-md) .pt_homepage {
    background-color: $white !important;
}

// Tasks Labels
#win0divPTNUI_LAND_REC_GROUPLET\$4 > .ps_groupleth {
    align-items: flex-start;
    height: calc( 100% - #{$size} ) !important;
}
#win25div\$ICField33 > * {
    color: $white !important;
    font-size: $size * 0.6;
    line-height: $size * 0.9;
    font-weight: 400;
    margin: 0;
}
#win25div\$ICField30 {
    text-align: left;
    padding-left: $size;
    padding-right: $size;
    bottom: $size !important;
    overflow: visible !important;
}
#SCC_TASKAPP_WRK_PTGP_TILE_LIVDAT_2::before {
    content: " ";
    white-space: pre;
}