:root:not(.psc_form-small) .addtilecontainer {
    overflow: hidden;
    min-width: 400px;
    min-height: 400px;
}

:root.psc_form-small .addtilecontainer {
    overflow:hidden;
    position: absolute;
    left:0em;
    right:0em;
    top:0em;
    bottom:0em;
}

.addtilecontainer .addtilesrchcontainer {
    padding: 10px;
    padding-bottom: 0px;
}

.addtilecontainer .addtileheader {
     background-color: #F5F5F5;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 8px 10px #FFFFFF inset; 
    color: #AB5B1A;
    line-height: 2em;
    margin-bottom: 0.5em;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #BBBBBB;
    font-size: 1.1em;
    font-weight: bold;
}

.addtilecontainer .srchcontainer {
    margin: 25px 0px 25px 0px;
}

.addtilecontainer .srchtile  .ps-edit{
    padding: 0.55em 0;
}

.addtilecontainer .ps_box-control select, .addtilecontainer .ps_box-control input {
    width:100%;
}

.addtilecontainer .hdrbuttonarea {
    height: 70px;
}

.addtilecontainer .categorylist {
 
}

.addtilecontainer .gpltsrchbox {
    float: left;
    width: 85%;
padding-right: 5px;
}

.addtilecontainer .gpltsrchbox .ps_box-label {
    width: 0px;
    padding: 0px;
}

.addtilecontainer .gpltsrchbox .ps_box-control {
    width: 100%;
}

.addtilecontainer .gpltsrchbtnbox {
    float:left;
    width:15%;
}

.addtilecontainer .gpltsrchbtn {
    display: inline-block;
    width: 100%;
}

.addtilecontainer .ptnui_menu_hdr {
    background: linear-gradient(to bottom, #F0F0F0 0%, #DDDDDD 100%) repeat scroll 0 0 transparent;
    border: 0.091em solid #E7E7E7;
    min-height: 3.1351em;
    position: relative;
}
.addtilecontainer .ptnui_menu_hdr .ptnui_menu_back {
    display: inline-block;
    padding-left: 0.5em;
}
.addtilecontainer .ptnui_menu_hdr .ptnui_menu_title {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 2.8em;
    margin-bottom: 0;
    max-width: 18.7em;
    padding-left: 0.5em;
}
.addtilecontainer .ptnui_menu_hdr .ptnui_menu_title span {
    white-space: normal;
    line-height: 18px;
}
.addtilecontainer .addtiletitle {
    padding-top: 7px;
}
.addtilecontainer .ptnui_menu_hdr .ptnui_menu_title .ps_box-label,
.addtilecontainer .addtiletitle .ps_box-label {
    display: none;
}

.addtilecontainer .lplistgrid {
    border-top: 0.091em solid #E7E7E7;
    border-left: 0.091em solid #E7E7E7;
}

.addtilecontainer .lplistgrid ul {
    list-style: none;
    padding-left: 0em;
}

.addtilecontainer .lplistgrid div.lplistitem {
border-bottom: 0.091em solid #E7E7E7;

border-right: 0.091em solid #E7E7E7;
width: 100%;

}

.addtilecontainer .lplistgrid div.lplistitem.fldr {


}

.addtilecontainer .lplistgrid .lplistitem span {
    width: 100%;
}

.addtilecontainer .lplistgrid a {
    padding: 1.3em 0.5em;
    display: block;
    padding-left: 2.4em;
    white-space: normal;
    font-family: Arial;
    font-weight: bold;
}


.addtilecontainer .categorylist a:after{
    content: url('/cs/ps/cache/PTNUI_RARRW_ICN_1.png'); 

    display:inline-block;
    position:absolute;
    top:50%;
    margin-top:-6px;
    right:3%;
}


.addtilecontainer .lplistgrid a:link, .addtilecontainer .nui-myfav-gb a:visited, 
.addtilecontainer .nui-myfav-gb a:hover, .addtilecontainer .nui-myfav-gb a:active, .addtilecontainer .nui-myfav-gb a:focus {
  color: #2e6596;
  text-decoration: none;
}

.addtilecontainer .lplistgrid div.lplistitem:hover {
    background-color: #ffffeb;
}

.addtilecontainer .lplistgrid div.lplistitem:active {
    background-color: rgba(26,54,78,0.4);
}

.addtilecontainer .backbtnContainer {
    height: 2em;
    margin-bottom: 0.75em;
}

.addtilecontainer .addtileback {
    position: absolute;
    top: 7px;
    right: 10px;
}

.addtilecontainer .noresults span{
    display: inline;
}

.addtilecontainer .noresults .ps_box-label{
    width: auto;
    padding-top: 25px;
}

.addtilecontainer .nbhdr_cancel {
position: absolute;
left: 10px;
top: 7px;
z-index: 1;
}

.addtilecontainer .nbhdr_cancel .ps-button {
    padding:0.35em;
}
