



.ps_header_bar
{
   border-bottom-color:rgb(141,179,223);
   background-image:-webkit-none; background-image:-moz-none; background-image:-ms-none; background-image:none; 
   background-color:rgb(51, 51, 51); 
   color:rgba(255,255,255,0.95); 
}



.ps_header_bar .ps_box-button .ps-button,
.ps_header_bar .ps_box-button .ps-button:link,
.ps_header_bar .ps_box-button .ps-button:hover
{
   background-color:transparent; 
   border-color:transparent; 
   color:#fff; 
   -webkit-box-shadow:inset 0px 0px 3px #5b8cb2; -moz-box-shadow:inset 0px 0px 3px #5b8cb2; -ms-box-shadow:inset 0px 0px 3px #5b8cb2; box-shadow:inset 0px 0px 3px #5b8cb2; 
}


.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover
{
   background-color:#4b4847;
   border-color:transparent;
   color:#fff;
   -webkit-box-shadow:-1px -1px 0px rgb(148,168,186), inset -1px -1px 2px rgb(28,46,61); -moz-box-shadow:-1px -1px 0px rgb(148,168,186), inset -1px -1px 2px rgb(28,46,61); -ms-box-shadow:-1px -1px 0px rgb(148,168,186), inset -1px -1px 2px rgb(28,46,61); box-shadow:-1px -1px 0px rgb(148,168,186), inset -1px -1px 2px rgb(28,46,61);
}


:root.psc_dir-rtl .ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover
{
   -webkit-box-shadow:1px -1px 0px rgb(148,168,186), inset 1px -1px 2px rgb(28,46,61); -moz-box-shadow:1px -1px 0px rgb(148,168,186), inset 1px -1px 2px rgb(28,46,61); -ms-box-shadow:1px -1px 0px rgb(148,168,186), inset 1px -1px 2px rgb(28,46,61); box-shadow:1px -1px 0px rgb(148,168,186), inset 1px -1px 2px rgb(28,46,61);
}


.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:active,
.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover:active,
:root.psc_dir-rtl .ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:active,
:root.psc_dir-rtl .ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover:active
{
   background-color:#4b4847;
   color:#fff;
   -webkit-box-shadow:inset 0px 0px 3px #92c3e8; -moz-box-shadow:inset 0px 0px 3px #92c3e8; -ms-box-shadow:inset 0px 0px 3px #92c3e8; box-shadow:inset 0px 0px 3px #92c3e8;
}


.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover,
:root.psc_dir-rtl .ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:hover
{
   background-color:#1a3d5a;
   -webkit-box-shadow:inset 0px 0px 3px #5b8cb2; -moz-box-shadow:inset 0px 0px 3px #5b8cb2; -ms-box-shadow:inset 0px 0px 3px #5b8cb2; box-shadow:inset 0px 0px 3px #5b8cb2;
}


.ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:active,
:root.psc_dir-rtl .ps_header_bar .ps_box-button:not(.psc_disabled) .ps-button:active
{
   background-color:#0f2d47;
   -webkit-box-shadow:inset 0px 0px 3px #92c3e8; -moz-box-shadow:inset 0px 0px 3px #92c3e8; -ms-box-shadow:inset 0px 0px 3px #92c3e8; box-shadow:inset 0px 0px 3px #92c3e8;
}


.ps_header_bar .ps_box-button.ps_header-gsearch:not(.psc_disabled) .ps-button[aria-expanded="true"]
{
   background-color:rgba(26,54,78,0.9); 
}


.ps_box-button.ps_button_backnav .ps-button,
.ps_box-button.ps_button_backnav .ps-button:link,
.ps_box-button.ps_button_backnav .ps-button:not(.psc_disabled) .ps-button:hover,
.ps_box-button.ps_button_stdheader .ps-button,
.ps_box-button.ps_button_stdheader .ps-button:link,
.ps_box-button.ps_button_stdheader .ps-button:not(.psc_disabled) .ps-button:hover
{
   text-shadow:none;
   box-shadow:inset 0 1px 0 0 #74a7cb;
   border-color:#1c3f5d;
   border-bottom-color:#0d2940;
   background-image:linear-gradient(to bottom, rgb(51, 51, 51), #757575);
   background-color:transparent; 
   color:inherit;
}


.ps_box-button.ps_button_backnav:not(.psc_disabled) .ps-button:hover,
.ps_box-button.ps_button_stdheader:not(.psc_disabled) .ps-button:hover
{
   background-image:-webkit-linear-gradient(to top, rgb(51, 51, 51), #757575); background-image:-moz-linear-gradient(to top, rgb(51, 51, 51), #757575); background-image:-ms-linear-gradient(to top, rgb(51, 51, 51), #757575); background-image:linear-gradient(to top, rgb(51, 51, 51), #757575);
   background-color:transparent; 
   color:inherit;
   border-color:#1d405d;
   border-bottom-color:#101f33;
   -webkit-box-shadow:inset 0 2px 0 0 #74a7cb; -moz-box-shadow:inset 0 2px 0 0 #74a7cb; -ms-box-shadow:inset 0 2px 0 0 #74a7cb; box-shadow:inset 0 2px 0 0 #74a7cb;
}


.ps_box-button.ps_button_backnav:not(.psc_disabled) .ps-button:active,
.ps_box-button.ps_button_backnav:not(.psc_disabled) .ps-button:hover:active,
.ps_box-button.ps_button_stdheader:not(.psc_disabled) .ps-button:active,
.ps_box-button.ps_button_stdheader:not(.psc_disabled) .ps-button:hover:active
{
   color:inherit;
   background-image:-webkit-linear-gradient(to top, rgb(51, 51, 51), #757575); background-image:-moz-linear-gradient(to top, rgb(51, 51, 51), #757575); background-image:-ms-linear-gradient(to top, rgb(51, 51, 51), #757575); background-image:linear-gradient(to top, rgb(51, 51, 51), #757575);
   background-color:transparent; 
   -webkit-box-shadow:inset 0 2px 0 0 #5583a9; -moz-box-shadow:inset 0 2px 0 0 #5583a9; -ms-box-shadow:inset 0 2px 0 0 #5583a9; box-shadow:inset 0 2px 0 0 #5583a9;
}


.ps_header_bar .ps_actions_cont .ps_system_cont .ps-button,
.ps_header_bar .ps_header_button .ps-button,
.ps_header_bar .ps_header_button .ps-button:link,
:root.psc_dir-rtl .ps_header_bar .ps_actions_cont .ps_system_cont .ps-button,
:root.psc_dir-rtl .ps_header_bar .ps_header_button .ps-button,
:root.psc_dir-rtl .ps_header_bar .ps_header_button .ps-button:link
{
   -webkit-box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; box-shadow:none;
}


.ps_header_bar .ps_actions_cont .ps_system_cont .ps_header-navbar .ps-button,
:root.psc_dir-rtl .ps_header_bar .ps_actions_cont .ps_system_cont .ps_header-navbar .ps-button
{
   border-left-color:rgb(50,81,107);
   background-image:-webkit-linear-gradient(to top, #000000, #434343); background-image:-moz-linear-gradient(to top, #000000, #434343); background-image:-ms-linear-gradient(to top, #000000, #434343); background-image:linear-gradient(to top, #000000, #434343);
   background-color:transparent; 
   -webkit-box-shadow:inset 0 7px 6px -10px rgb(95,132,161); -moz-box-shadow:inset 0 7px 6px -10px rgb(95,132,161); -ms-box-shadow:inset 0 7px 6px -10px rgb(95,132,161); box-shadow:inset 0 7px 6px -10px rgb(95,132,161);
}


.ps_header_bar .ps_actions_cont .ps_system_cont .ps_header-navbar .ps-button:hover,
:root.psc_dir-rtl .ps_header_bar .ps_actions_cont .ps_system_cont .ps_header-navbar .ps-button:hover
{
   background:linear-gradient(to top, #000000, #434343); 
   -webkit-box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; box-shadow:none;
}


.ps_header_bar .ps_actions_cont .ps_system_cont .ps_header-navbar .ps-button:active,
:root.psc_dir-rtl .ps_header_bar .ps_actions_cont .ps_system_cont .ps_header-navbar .ps-button:active
{
   background:linear-gradient(to top, #000000, #434343); 
   -webkit-box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; box-shadow:none;
}


.ps_header_bar .psc_title-selector.psc_rowact:hover 
{
   background-color:transparent !important;
}



.ps_header_bar .pts_gsearch_tray
{
   background-color:rgba(26,54,78,0.8); 
}


.ps_header_bar .pts_gsearch_cat .ps-dropdown {}


.ps_header_bar .pts_gsearch_input .ps-edit {}


.ps_header_bar .pts_gsearch_go .ps-button {}


.ps_header_button.psc_badge-text > .ps-button-wrapper > .ps-button > .ps-text
{
   border-color: #fff;
   background-color:#dd0000;
   color:#fff;
}





.psc_confirmation-area
{
   background:#c8ead6;
   color:#000;
   -webkit-text-shadow:1px 1px 0px #f0f6eb; -moz-text-shadow:1px 1px 0px #f0f6eb; -ms-text-shadow:1px 1px 0px #f0f6eb; text-shadow:1px 1px 0px #f0f6eb;
   border-color:#76a68a;
}


:root.psc_dir-rtl .psc_confirmation-area
{
   -webkit-text-shadow:-1px 1px 0px #f0f6eb; -moz-text-shadow:-1px 1px 0px #f0f6eb; -ms-text-shadow:-1px 1px 0px #f0f6eb; text-shadow:-1px 1px 0px #f0f6eb;
}





.psc_mode-guided:not(.psc_mode-fscreen-search) .ps_header_bar .ps_header-notify
{
   border-right-color:rgba(255,255,255,0.4);
}


.ps_box-button.ps_process-submit > .ps-button-wrapper > .ps-button
{
   background-color:rgb(250,230,180);
   text-shadow:1px 1px 0px #feeec2;
   border-color:#e6be54;
   color:#000;
}


:root.psc_dir-rtl .ps_box-button.ps_process-submit > .ps-button-wrapper > .ps-button
{
   text-shadow:-1px 1px 0px #feeec2;
}


.ps_box-button.ps_process-submit > .ps-button-wrapper > .ps-button:hover,
:root.psc_dir-rtl .ps_box-button.ps_process-submit > .ps-button-wrapper > .ps-button:hover
{
   background-color:rgb(255,230,140);
   border-color:#cd8821;
   box-shadow:inset 0 1px 0 0 #fef1de;
   text-shadow:0 1px 0 #fef1de;
   color:#000;
}


.ps_box-button.ps_process-submit > .ps-button-wrapper > .ps-button:active,
.ps_box-button.ps_process-submit > .ps-button-wrapper > .ps-button:hover:active,
:root.psc_dir-rtl .ps_box-button.ps_process-submit > .ps-button-wrapper > .ps-button:active,
:root.psc_dir-rtl .ps_box-button.ps_process-submit > .ps-button-wrapper > .ps-button:hover:active
{
   background-color:#fff;
   text-shadow:none;
   border-color:#1c3f5d;
   box-shadow:none;
   color:#000;
}






.ps_box-button.psc_panel-button > .ps-button-wrapper >  .ps-button,
.ps_box-button.pst_panel-button > .ps-button-wrapper >  .ps-button
{
  -webkit-background:linear-gradient(to left, rgb(57,106,144),rgb(23,54,81)); -moz-background:linear-gradient(to left, rgb(57,106,144),rgb(23,54,81)); -ms-background:linear-gradient(to left, rgb(57,106,144),rgb(23,54,81)); background:linear-gradient(to left, rgb(57,106,144),rgb(23,54,81));
  border-color:#1d405d; 
}

.ps_box-button.psc_panel-button > .ps-button-wrapper >  .ps-button:hover,
.ps_box-button.pst_panel-button > .ps-button-wrapper >  .ps-button:hover
{
	-webkit-background:linear-gradient(to left, rgb(61,121,168), rgb(0,73,122)); -moz-background:linear-gradient(to left, rgb(61,121,168), rgb(0,73,122)); -ms-background:linear-gradient(to left, rgb(61,121,168), rgb(0,73,122)); background:linear-gradient(to left, rgb(61,121,168), rgb(0,73,122));
    -webkit-box-shadow:inset -1px 0 0 0 #74a7cb; -moz-box-shadow:inset -1px 0 0 0 #74a7cb; -ms-box-shadow:inset -1px 0 0 0 #74a7cb; box-shadow:inset -1px 0 0 0 #74a7cb; 
}

:root.psc_dir-rtl .ps_box-button.psc_panel-button > .ps-button-wrapper >  .ps-button:hover,
:root.psc_dir-rtl .ps_box-button.pst_panel-button > .ps-button-wrapper >  .ps-button:hover
{
    -webkit-box-shadow:inset 1px 0 0 0 #74a7cb; -moz-box-shadow:inset 1px 0 0 0 #74a7cb; -ms-box-shadow:inset 1px 0 0 0 #74a7cb; box-shadow:inset 1px 0 0 0 #74a7cb; 
}

.ps_box-button.psc_panel-button > .ps-button-wrapper >  .ps-button:active,
.ps_box-button.pst_panel-button > .ps-button-wrapper >  .ps-button:active
{
    background: #2d587a;
    -webkit-box-shadow:inset -1px 0 0 0 #5583a9; -moz-box-shadow:inset -1px 0 0 0 #5583a9; -ms-box-shadow:inset -1px 0 0 0 #5583a9; box-shadow:inset -1px 0 0 0 #5583a9;  
}

:root.psc_dir-rtl .ps_box-button.psc_panel-button > .ps-button-wrapper >  .ps-button:active,
:root.psc_dir-rtl .ps_box-button.pst_panel-button > .ps-button-wrapper >  .ps-button:active
{
    -webkit-box-shadow:inset 1px 0 0 0 #5583a9; -moz-box-shadow:inset 1px 0 0 0 #5583a9; -ms-box-shadow:inset 1px 0 0 0 #5583a9; box-shadow:inset 1px 0 0 0 #5583a9;  
}


.pst_panel-side2 .ps_box-button.pst_panel-button > .ps-button-wrapper >  .ps-button
{
  background: #bedaee;
  border-color:#6d7f8b;
}

.pst_panel-side2 .ps_box-button.pst_panel-button > .ps-button-wrapper >  .ps-button:hover, 
.pst_panel-side2 .ps_box-button.pst_panel-button > .ps-button-wrapper >  .ps-button:active
{
  background:#cfe8f9;
}



.ps_box-button.nuihdr_hpbtn .ps-button .ps-text {
  color:#fff;
}


:root:not(.psc_mode-ag):not(.psc_mode-md) .pt_homepage { 
  background-image:none; 
  background-color:initial;
  background:whitesmoke;
}


:root:not(.psc_mode-ag):not(.psc_mode-md) .pt_homepage .ps_header_bar {
    border-bottom: 1px solid #000;
}


:root:not(.psc_mode-ag):not(.psc_mode-md) .nui_pagegb:not(.persmode) .nuitile .nuilp 
{
  border:0px solid rgb(102,102,102); 
  -webkit-box-shadow:0.14em 0.14em 0.28em rgba(0, 0, 0, 0.2); -moz-box-shadow:0.14em 0.14em 0.28em rgba(0, 0, 0, 0.2); -ms-box-shadow:0.14em 0.14em 0.28em rgba(0, 0, 0, 0.2); box-shadow:0.14em 0.14em 0.28em rgba(0, 0, 0, 0.2));
}


:root.psc_dir-rtl .nui_pagegb:not(.persmode) .nuitile .nuilp {
  -webkit-box-shadow:-0.14em 0.14em 0.28em rgba(0, 0, 0, 0.2); -moz-box-shadow:-0.14em 0.14em 0.28em rgba(0, 0, 0, 0.2); -ms-box-shadow:-0.14em 0.14em 0.28em rgba(0, 0, 0, 0.2); box-shadow:-0.14em 0.14em 0.28em rgba(0, 0, 0, 0.2);
}


.pt_homepage .lpfooter {
   background-color:transparent;
   background:#434343;
}



.lpbanner-cont {
    border:1px solid #ccc; 
    -webkit-border-radius:0 0 1.5em 1.5em; -moz-border-radius:0 0 1.5em 1.5em; -ms-border-radius:0 0 1.5em 1.5em; border-radius:0 0 1.5em 1.5em;
    background-color:initial; 
    background:#ffffff;
}

.lpbanner-cont.pinned {
   border:1px solid #ffffff;
   border-top:2px solid #cccccc;
   -webkit-box-shadow: 0px 1px 6px #000; -moz-box-shadow: 0px 1px 6px #000; -ms-box-shadow: 0px 1px 6px #000; box-shadow: 0px 1px 6px #000;
   background-color:initial; 
   background:#f0f0f0;
}


:root.psc_mode-ag .lpbanner-cont,
:root.psc_mode-md .lpbanner-cont
{
  -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; border-radius:0;
  border-color: #ccc;
}



.psc_lpbanner-context {
   background-color:initial; 
   background: #ffffff;
}

.psc_lpbanner-context .ps_box-label .ps-label
{
  color:#6c6c6c; 
}

.psc_lpbanner-context .ps_header-group
{
  color:rgb(164,086,023); 
}


.psc_lpbanner-pinned .psc_lpbanner-context,
.psc_lpbanner-pinned .ps_apps_pageheader
{
   background-color:initial; 
   background: #f0f0f0;
}


.psc_lpbanner-pinned .psc_lpbanner-context .ps_box-label .ps-label
{
  color: inherit;
}

.psc_lpbanner-pinned .psc_lpbanner-context .ps_header-group
{
  color: inherit;
}






.nuihdr_logo:after {
  content:url(/cs/ps/cache/UC_LOGO_TINY_1.PNG);
  padding-top: 0;
  margin-left: -0.7em;

  top: -5px;   
}

:root.psc_form-small .nuihdr_logo:after {
  content:url(/cs/ps/cache/UC_LOGO_TINY_1.PNG);
  padding-top: 0;
  margin-left: -0.7em;

    
}







.ps_box-button.ps_button_backnav .ps-img
{opacity:0;}


.ps_box-button.ps_button_backnav .ps-button
{position:relative;}



.ps_box-button.ps_button_backnav .ps-button:before
{
  position:absolute;
}


.ps_box-button.ps_button_backnav .ps-button:before {
 content:url(/cs/ps/cache/PT_NUI_BACK_PRIM_IMG_1.svg);

  

}


.ps_box-button.psc_guided-exit .ps-button:before {
 content:url(/cs/ps/cache/PT_BACK_AS_EXIT_ICON_1.svg);

  

}






@media only screen and (max-width:680px) {
	.ps_box-button.ps_button_backnav .ps-button:before
    {
		-webkit-transform:scale(1.4); -moz-transform:scale(1.4); -ms-transform:scale(1.4); transform:scale(1.4);
		margin-top:0.2em;
		margin-left:0.25em;
	}


}


 


.ps_box-button.ps_header_button .ps-button .ps-img,
.ps_box-button.pts_gsearch_go .ps-img
{opacity:0;}


.ps_box-button.ps_header_button .ps-button,
.ps_box-button.pts_gsearch_go {
  position:relative;
}


:root:not(.psc_mode-ag) .ps_box-button.ps_header_button .ps-button:after, 
:root.psc_mode-ag .ps_box-button.ps_header_button:not(.ps_header-next):not(.ps_header-previous) .ps-button:after, 
.ps_box-button.pts_gsearch_go .ps-button:after
{
  position:absolute;
  height:1.72em;
  padding:0.345em;
  width:1.72em;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin-top:-1px; 
}



:root .ps_header_bar .ps_box-button.ps_header-home .ps-button:after {
 content:url(/cs/ps/cache/PT_HEADER_HOME_1.svg);

   

}


:root .ps_header_bar .ps_box-button.ps_header-gsearch .ps-button:after {
 content:url(/cs/ps/cache/PT_HEADER_SEARCH_1.svg);

    

}




.ps_box-button.ps_header-notify .ps-button {
  overflow:visible;
}


:root.ie .ps_header_bar .ps_box-button.ps_header-notify .ps-button {
  margin-top:-0.25em;
}


:root .ps_header_bar .ps_box-button.ps_header-notify .ps-button .ps-text {
  z-index:1;
}



:root .ps_header_bar .ps_box-button.ps_header-notify .ps-button:after {
 content:url(/cs/ps/cache/PT_HEADER_ALERTS_1.svg);

  

}



:root .ps_header_bar .ps_box-button.psc_menu-act > .ps-button-wrapper > .ps-button:after {
 content:url(/cs/ps/cache/PT_HEADER_ACTIONS_1.svg);

    

}


:root .ps_header_bar .ps_box-button.ps_header-navbar .ps-button:after {
 content:url(/cs/ps/cache/PT_HEADER_NAVBAR_1.svg);
 margin-top:1px; 
 margin-left:0.28em; 

     

}


.ps_box-button.pts_gsearch_go .ps-button:after
{
   content:url(/cs/ps/cache/PT_NUI_EXECUTE_1.svg);
   margin-top:0.23em;

     

}


:root:not(.psc_mode-ag) .ps_box-button.ps_header-next .ps-button:after { 
 content:url(/cs/ps/cache/PT_GUIDED_NEXT_ICON_1.svg);

     

}


:root:not(.psc_mode-ag) .ps_box-button.ps_header-previous .ps-button:after { 
 content:url(/cs/ps/cache/PT_GUIDED_PREVIOUS_ICON_1.svg);

       

}



.psc_title-selector:before
{
 content:url(/cs/ps/cache/PTNUI_DOWN_ARW_1.svg);

      

}









.ps_box-button.nuihdr_hpbtn .ps-button .ps-img,
.ps_box-button.lprefresh .ps-button .ps-img
{opacity:0;}


.ps_box-button.nuihdr_hpbtn .ps-button,
.ps_box-button.lprefresh .ps-button
{position:relative;}


.ps_box-button.lprefresh .ps-button:after
{
  position:absolute;
  height:1.72em;
  padding:0.345em;
  width:1.72em;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin-top:-1px; 
}


.ps_box-button.nuihdr_hpbtn .ps-button:before
{
  position:absolute;
  height:1.2em;
  padding:0.345em;
  width:1.2em;
  top:0.45em;
  left:-0.57em;
  right:auto;
  bottom:auto;
  margin-top:0;
}


.ps_box-button.nuihdr_hpbtn .ps-button:before
{
 content:url(/cs/ps/cache/PTNUI_DOWN_ARW_1.svg);
 -webkit-transform:scale(0.8); -moz-transform:scale(0.8); -ms-transform:scale(0.8); transform:scale(0.8); 

   

}


.ps_box-button.lprefresh .ps-button:after {
 top:0.3em;
 left:-0.27em;
 content:url(/cs/ps/cache/PTNUI_REFRESH_ICN_1.svg);
 -webkit-transform:scale(1.25); -moz-transform:scale(1.25); -ms-transform:scale(1.25); transform:scale(1.25);

    

}





:root.psc_mode-ag .ps_box-button.ps_header-previous .ps-img,
:root.psc_mode-ag .ps_box-button.ps_header-next .ps-img
{opacity:0;}


:root.psc_mode-ag .ps_box-button.ps_header-previous .ps-button,
:root.psc_mode-ag .ps_box-button.ps_header-next .ps-button
{position:relative;}


:root.psc_mode-ag .ps_box-button.ps_header-previous .ps-button:before,
:root.psc_mode-ag .ps_box-button.ps_header-next .ps-button:after
{
  position:absolute;
}


:root.psc_mode-ag .ps_box-button.ps_header-previous .ps-button:before {
 content:url(/cs/ps/cache/PT_GUIDED_PREV_ICON_ALT_1.svg);
 padding-top:1px;

 
 width:17px;height:17px; 

  

}




:root.psc_mode-ag .ps_box-button.ps_header-next .ps-button:after{
 content:url(/cs/ps/cache/PT_GUIDED_NEXT_ICON_ALT_1.svg);
 padding-top:1px;
 right: 0.5em;

 
 width:17px;height:17px;

  

}





.ps_box-button.pst_panel-button .ps-img,
.ps_box-button.psc_panel-button .ps-img
{opacity:0;}


.ps_box-button.pst_panel-button .ps-button,
.ps_box-button.psc_panel-button .ps-button
{position:relative;}


.ps_box-button.pst_panel-button .ps-button:before,
.ps_box-button.psc_panel-button .ps-button:before
{
  position:absolute;
}


.pst_panel-side1 .ps_box-button.pst_panel-button .ps-button:before,
.ps_box-button.psc_panel-button .ps-button:before
{
 content:url(/cs/ps/cache/PT_PANEL_TAB_ICON_1.svg);
 padding-top:0.22em;
 -webkit-transform:scale(1.2); -moz-transform:scale(1.2); -ms-transform:scale(1.2); transform:scale(1.2);

  
}


.pst_panel-side2:not(.pst_panel-systemrc) .ps_box-button.pst_panel-button .ps-button:before
{
 content:url(/cs/ps/cache/PT_PANEL_TAB_ICON_1.svg);
 padding-top:0.22em;
 -webkit-transform:scale(1.2) translateX(1px); -moz-transform:scale(1.2) translateX(1px); -ms-transform:scale(1.2) translateX(1px); transform:scale(1.2) translateX(1px);

  
}


.pst_panel-side2.pst_panel-systemrc .ps_box-button.pst_panel-button .ps-button:before
{
 content:url(/cs/ps/cache/PT_RC_PANELBUTTON_ICON_1.svg);
 padding-top:0.4em;
 -webkit-transform:scale(0.9); -moz-transform:scale(0.9); -ms-transform:scale(0.9); transform:scale(0.9);

  
}