.ps_box-scrollarea-row::before {

	content: '';
	position: absolute;

	margin: -30px;
	z-index: -1;
	-webkit-filter: blur(20px);
	filter: blur(20px);
}





.nuitile .nuilp {
	-webkit-border-radius: 0.1em; -moz-border-radius: 0.1em; -ms-border-radius: 0.1em; border-radius: 0.1em;
	-webkit-box-shadow:none; -moz-box-shadow:none; -ms-box-shadow:none; box-shadow:none;
	background: inherit;
z-index:2;
overflow: hidden;
}


.nuitile {
 
 width: 250px;
 height: 200px;
 position: absolute;
 overflow: hidden;  
}



.ps-label {
z-index: 2;
text-shadow: 1px 1px 2px rgba(255,255,255,1)
}


.nuitile::before {
 content: "";
 
 
 
 position: absolute;
 left: 0px;  
 right: 0px;
 top: 0px;   
 bottom: 0px;
 box-shadow: inset 0 0 0 200px rgba(206, 206, 206, 0.93); 
-webkit-backdrop-filter: blur(3px);
backdrop-filter: blur(3px);
z-index: 1; 
 
}


@supports ((-webkit-backdrop-filter: blur(3px)) or (backdrop-filter: blur(3px))) {
.nuitile::before {
 content: "";
 
 
 
 position: absolute;
 left: 0px;  
 right: 0px;
 top: 0px;   
 bottom: 0px;
	box-shadow: inset 0 0 0 200px rgba(206, 206, 206, 0.4);
-webkit-backdrop-filter: blur(3px);
z-index: 1; 
 
}
 }


.nuitile .ps_box-grouplet {
z-index: 1;
}

#PT_NOTIFY:hover {
    background: black;
}

#PT_HOME:hover {
    background: black;
}

#PT_ACTION_MENU\$PIMG:hover {
    background: black;
}