@import "fonts";
@import "colors";
@import "sizes";
@import "loader";

// Footer
.ps_footer {
	display: none;
}

// Header
.ps_header_bar {
	background-color: transparent !important;
	border: none !important;
	color: #000 !important;
}

#PT_HEADER {
    display: inline-block;
    width: 100%;
    height: calc( 100% - #{$size * 20} );
    vertical-align: top;
}

#logo {
    width: $size * 2;
    height: $size * 2;
    background-image: url("../../logos/uc.svg");
    background-position: top;
    background-size: cover;
    border-radius: $size;
    display: inline-block;
    position: absolute;
    top: $size;
    left: $size * 2;

}

#avatar {
    width: $size * 2;
    height: $size * 2;
    background-position: top;
    background-size: cover;
    border-radius: $size;
    display: inline-block;
    position: absolute;
    right: $size * 2;
    top: $size;
}
#PT_HEADER_PANEL {
    bottom: $size * 2;
    position: absolute;
    width: 100%;
}

// Thing under the Header
#win0hdrdivPT_AG_LAYOUT_PT_AG_GROUPBOX3 {
	display: none;
}

* {
	background-color: transparent;
    font-family: 'Poppins', sans-serif;
    overflow: visible;
}

// Header Text
.ps-text {
    color: #000 !important;
    font-size: $size * 1.6 !important;
    font-weight: 600 !important;
    height: $size * 2;
    line-height: $size * 2 !important;
}
#PTNUI_LAND_WRK_GROUPBOX14\$PIMG {
    padding: 0 !important;
}
#PTNUI_LAND_WRK_GROUPBOX14\$PIMG::after {
    content: "";
    max-height: none;
    width: $size * 2 !important;
    height: $size * 2 !important;
    background-image: url("../../icons/drop_down_arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: 0;
    right: $size * -2;
}
.ps-button::before {
    display: none;
    content: none;
}
.ps-button {
    left: 0;
    overflow: visible !important;
    bottom: 0;
}
.nuihdr_hpbtn {
    overflow: visible;
}
.ps_header-banner, .ps_header_bar {
    text-align: start;
}
#win0divPTNUI_LAND_WRK_GROUPBOX14 {
    position: absolute;
    left: $size * 2;
}
.ps-button-wrapper {
    display: none;
}
.nuihdr_logo {
    display: none;
}

// Tiles Images
.ps-img, .ps_process, .ps-staticimg {
    display: none;
}

// Disable Hover Of Some Tiles (I don't know why they were sperate styles)
.ps_menuitem:not(.psc_disabled):hover, .psc_rowact:not(.psc_disabled):hover {
    background-color: transparent;
}

// Tiles
.nuitile {
    background-color: $red !important;
}
.nuitile::before {
    box-shadow: none;
    backdrop-filter: blur(0);
}
.ps_grid-row, .nuilp {
    box-shadow: none;
    width: $size * 7;
    height: $size * 7;
    padding: $size !important;
    border-radius: $size;
}

.nuilp::after {
    content: "";
    width: $size;
    height: $size;
    background-image: url("../../icons/arrow_next.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: $size / 2;
    right: $size / 2;
}

// Determine the color of the tiles
.ps_grid-div { 
    .nuitile:nth-of-type(2), .nuitile:nth-of-type(4), .nuitile:nth-of-type(5), .nuitile:nth-of-type(8){
        .nuilp {
            background-color: #000 !important;
        }
    }

    .nuitile:nth-of-type(6) {
        display: none;
    }
}

.nuitile {
    margin: $size !important;
}

// Tiles Labels
.ps-label, .ps_groupleth{
    text-shadow: none;
    color: $white !important;
    font-size: $size * 0.8;
    font-weight: 600;
    line-height: $size * 1.2;
    overflow: visible !important;
    white-space: normal !important;
    height: 100% !important;
    display: flex !important;
    align-items: flex-end;
}

// Tile Group
#win0divPTNUI_LAND_WRK_GROUPBOX8\$0 {
    width: $size * 38 !important;
    padding-left: $size;
    padding-bottom: 0;
}

// Content Container
.ps_mid_section, .pt_wrapper, .ps_wrapper {
    height: $size * 20 !important;
    position: absolute;
    bottom: 0;
    width: $size * 38;
}

#PT_WRAPPER {
    position: relative;
    display: inline-block;
    height: 100% !important;
    vertical-align: top;
}

#PT_MAIN {
    background: $white !important;
}

:root:not(.psc_mode-ag):not(.psc_mode-md) .pt_homepage {
    background-color: $white !important;
}

// #win0groupletPTNUI_LAND_REC_GROUPLET\$4 > div > div > .psc_tile_livedata > * {
//     color: $white !important;
//     font-size: $size * 0.6;
//     line-height: $size * 0.9;
//     font-weight: 400;
//     margin: 0;
// }

// Tasks Labels
#win0divPTNUI_LAND_REC_GROUPLET\$4 > .ps_groupleth:not(.noAlert) {
    align-items: flex-start;
    height: calc( 100% - #{$size} ) !important;
    pointer-events: none;
}
[id*="ICField33"] > * {
    color: $white !important;
    font-size: $size * 0.6;
    line-height: $size * 0.9;
    font-weight: 400;
    margin: 0;
}
[id*="ICField30"] {
    text-align: left;
    padding-left: $size - 4px;
    padding-right: $size;
    bottom: $size !important;
    overflow: visible !important;
}
#SCC_TASKAPP_WRK_PTGP_TILE_LIVDAT_2::before {
    content: " ";
    white-space: pre;
}
#SCC_TASKAPP_WRK_PTGP_TILE_LIVDAT_2 {
    margin-top: $size / 4;
}

// My Finances Label
[id*=PTGP_TILE_LIVEDATA] {
    position: absolute;
    bottom: $size;
    left: 0;
}
[id*=PTGP_APP_WRK_PTGP_TILE_LIVDAT] {
    color: $white !important;
    font-size: $size * 0.6;
    line-height: $size * 0.9;
    font-weight: 400;
    margin: 0;
    width: calc(100% - #{$size});
    
    text-align: left;
    display: block;
    margin-left: $size - 10px !important;
    overflow: hidden;
}
#win0divPTNUI_LAND_REC_GROUPLET\$1 > .ps_groupleth:not(.noAlert) {
    align-items: flex-start;
    height: calc( 100% - #{$size} ) !important;
    position: relative;
}

#sidebar {
    width: $size * 10;
    height: calc(100% - #{$size});
    border-right: #CCC solid 3px;
    display: inline-block;
    padding-top: $size;
    position: relative;
}

.sidebarOption {
    display: block;
    width: calc(100% - #{$size * 2});
    font-weight: 600 !important;
    font-size: $size * 0.6;
    line-height: $size * 2;
    height: $size * 2;
    margin-left: $size;
    margin-right: $size;
    position: relative;
    cursor: pointer;
}

.sidebarOption:link {
    color: $black;
    text-decoration: none;
}
.sidebarOption:hover:not(.selected) {
    text-decoration: underline;
    text-decoration-color: $red !important;
    color: $black !important;
}

.sidebarOption.selected {
    color: $white;
    background-color: $red;
    border-radius: $size / 2;
}

.sidebarOption.selected::before {
    filter: invert(100%);
}

.sidebarOption::before {
    content: "";
    width: $size;
    height: $size;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: $size;
    margin-left: $size / 2;
}

#home::before {
    background-image: url("../../icons/home.svg");
}
#notifications::before {
    background-image: url("../../icons/notifications.svg");
}
#settings::before {
    background-image: url("../../icons/settings.svg");
}

a:link {
    color: $red;
    text-decoration: underline;
    display: block;
    font-weight: 400;
    font-size: $size * 0.6;
    line-height: $size * 2;
    height: $size * 2;
}

#signOut {
    margin-left: $size * 1.5;
    margin-right: $size * 1.5;
    position: absolute;
    cursor: pointer;
    bottom: $size;
    width: calc(100% - #{$size * 3});
}

#signOut:hover {
    color: $red !important;
}